<h1>Your result</h1>


<p>Your word <%= @guess %></p>
<p>Time taken to answer : <%= @result[:time] %> seconds</p>
<p>Your score is : <%= @result[:score] %></p>
<p>Message : <%= @result[:message] %></p>
